body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: white;
  }

/* pages */
.page{
    height: 100dvh;
    max-height: 100dvh;
    padding: min(5em, 8%);
    overflow: hidden;
}
.page:nth-child(odd) {
    background-color: #e0e0e0; /* Darker Gray */
}
.page:nth-child(even) {
    background-color: #aac8e4; /* Darker Blue */
}
  
/*BEGIN NAVBAR*/
.navbar {
    background-color: #444444;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
    display: flex;
    justify-content: center;
    z-index: 9999;
}
.navbar a {
  font-weight: 200;
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  z-index: 9999;
}
/* END NAVBAR */

/*BEGIN ABOUT ME*/
#aboutMe{
    display: flex;
    text-align: justify;
}
#name{
    margin-bottom: -20px;
}
#aboutMe h3{
    margin-left: 50px;
    margin-right: 200px;
}
#aboutMe .column{
    margin-top: 50px;
}
#extra{
    display: flex;
    gap: 200px;
    margin-left: 0px;
    margin-top: 150px;
}
.profile-img{
    width: 400px;
    margin-right: 100px;
}
/* END ABOUT ME */

/* START SKILLS */
#skills{
    color: #5b20d1;
    background-color: white;
}
.skills-section {
    display: flex;
    justify-content: space-between;
  }
  .skills-section .column1,.skills-section .column2,.skills-section .column3 {
    flex: 1;
  }
  .category {
    margin-bottom: 20px;
    font-size: 20px;
  }
  .skill {
    margin: 3px 0;
    font-size: 18px;
  }
  .skill span {
    font-size: 1.2em;
  }
  
/* END SKILLS */
